<div class="profile">
  <img src="{{photoUrl}}" alt="Profile image" />
  <div class="description">
    <h2>{{name}}</h2>
    <div>{{role}}</div>
    <div>{{employer}}</div>
    <div>{{email}}</div>
  </div>
</div>